.body {
    background-color: #F3F5F6;
    overflow-x: hidden; /* Prevent any horizontal overflow */
}

.card {
    margin: 10px auto; /* Ensure the card is centered */
    border-radius: 0;
    border: none; /* Optional: remove rounded corners */
}

.carousel-inner {
    overflow: hidden; /* Prevent carousel items from causing overflow */
}

/* Handle overflow within rows */
.carousel-item .row {
    max-width: 1200px;
    margin: 0 auto; /* Center the content */
}

.adj{
    margin-left: auto;
    margin-right: auto;
}
.clickable-item {
    border: 1px solid #ddd;
    cursor: pointer;
}

.selected {
    border: solid 2px blue;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .card {
    height: 90%;
    border: none;
    width: 100%;
    /* Remove card border if desired */
    border-radius: 0;
    /* Remove rounded corners */
  }
  .card-img-top{
    height: 200px;
    width: 90%;
  
  }
  .card-body{
    height: 50%;
    
  }
  
  .price{
    color: red;
  }