<div  class="productDetails">
    <div class="left__side">
        <!-- Carousel for Images -->
        <div id="imageCarousel" class="carousel slide" style="overflow: hidden;">
            <div class="carousel-inner" style="height: 500px;">
                <div *ngIf="product.image1" class="carousel-item active">
                    <img [src]="'../../assets/uploads/' + product.image1" class="d-block w-100 carousel-img" alt="Image 1">
                  </div>
                  <!-- Second Image -->
                  <div *ngIf="product.image2" class="carousel-item">
                    <img [src]="'../../assets/uploads/' + product.image2" class="d-block w-100 carousel-img" alt="Image 1">
                  </div>
                  <!-- Third Image -->
                  <div *ngIf="product.image3" class="carousel-item">
                    <img [src]="'../../assets/uploads/' + product.image3" class="d-block w-100 carousel-img" alt="Image 1">
                  </div>
                  <!-- Fourth Image -->
                  <div *ngIf="product.image4" class="carousel-item">
                    <img [src]="'../../assets/uploads/' + product.image4" class="d-block w-100 carousel-img" alt="Image 1">
                  </div>
                
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="price__location_card">
            <h1 id="price">Rs. {{product.price}}</h1>
            <h3 id="productName">Title: {{product.title}}</h3>
            <p id="location"><i class="fa-solid fa-location-dot"></i>Location: {{product.location}}</p>
        </div>
       
    </div>

    <div class="right__side">
        <div class="profile_contact_card">
            <div class="avaar">
                <img src="../../assets/img/avatar.png" id="image" alt="">
                <div class="img">
                    <h5 id="phoneL">{{product.phone}}</h5>
                    <p id="nameL">{{product.name}}</p>
                </div>
            </div>
            <button class="chat"><i class="fa-solid fa-comments"></i> Chat</button>
        </div>
        <div class="description">
            <h1>Description</h1>
            <p class="adj" id="description2">{{product.description}}</p>
        </div>
    </div>
</div>
