<div *ngIf="loading" class="loading-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="!loading" style="padding-bottom: 10%;" class="body">



  <div style="width: 100%; " id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner carousel-inner-adj ">
      <div class="carousel-item active">
        <img src="../../assets/img/Gaming Chairs965.1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/what1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/WhatsApp Image 2024-11-11 at 01.16.00_d0186f34.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div style="width: 90%; margin-left: auto; margin-right: auto; background-color:#E1E3E4;" class="row">
    <div class="col-12 col-md-12">
      <div class="row">
        <div style="margin-top:30px; text-align: center;" class="col-3 col-md-3">
          <h1>Gaming Chair</h1>
          <button style="margin-top:50px;" (click)="Routing('viewall')" type="button" class="btn btn-success">View more</button>
        </div>
        <div style="margin-left: auto; margin-right: auto;" class="col-9 col-md-9">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <!-- Loop through carousel items -->
              <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of chairs; let i = index">
                <div class="row g-0">
                  <!-- Loop through cards in each group -->
                  <div class="col-4" *ngFor="let product of cardGroup">
                    <div (click)="Routing(product)" class="card">
                      <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                        alt="Product Image">

                      <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                        <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                        <p class="price"><b>${{product.price}}</b></p>
                        


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="width: 91%; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 100px;">
    <!-- Heading Section -->
    <div class="row">
      <div class="col-12">
        <h1>Gaming Keyboards</h1>
      </div>
    </div>

    <!-- Carousel Section -->
    <div id="carouselExample2" class="carousel slide">
      <div class="carousel-inner">
        <!-- First carousel item with four cards -->
        <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of keyboards; let i = index">
          <div class="row g-0">
            <div class="col-3" *ngFor="let product of cardGroup">
              <div (click)="Routing(product)" class="card">

                <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                  alt="Product Image">
                <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                  <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                  <p class="price"><b>${{product.price}}</b></p>
                  <div>
                    <button class="addtocartbtn">
                      Add to cart
                    </button>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div style="height: 100px;">

    </div>
  <div style="width: 100%; margin-left: auto; margin-right: auto; background-color:#E1E3E4;" class="row">
    <div class="col-12 col-md-12">
      <div class="row">
        <div style="margin-top:30px; text-align: center;" class="col-3 col-md-3">
          <h1>Playstation 5 Games</h1>
          <button style="margin-top:50px;" (click)="Routing('viewall')" type="button" class="btn btn-success">View more</button>
        </div>
        <div style="margin-left: auto; margin-right: auto;" class="col-9 col-md-9">
          <div id="carouselExample3" class="carousel slide">
            <div class="carousel-inner">
              <!-- Loop through carousel items -->
              <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of playstation5; let i = index">
                <div class="row g-0">
                  <!-- Loop through cards in each group -->
                  <div class="col-4" *ngFor="let product of cardGroup">
                    <div (click)="Routing(product)" class="card">
                      <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                        alt="Product Image">

                      <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                        <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                        <p class="price"><b>${{product.price}}</b></p>
                        


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="width: 100%; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 100px;">
    <!-- Heading Section -->
    <div class="row">
      <div class="col-12">
        <h1>Gaming Mice</h1>
      </div>
    </div>

    <!-- Carousel Section -->
    <div id="carouselExample4" class="carousel slide">
      <div class="carousel-inner">
        <!-- First carousel item with four cards -->
        <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of mice; let i = index">
          <div class="row g-0">
            <div class="col-3" *ngFor="let product of cardGroup">
              <div (click)="Routing(product)" class="card">

                <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                  alt="Product Image">
                <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                  <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                  <p class="price"><b>${{product.price}}</b></p>
                  <div>
                    <button class="addtocartbtn">
                      Add to cart
                    </button>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div style="height: 100px;">

    </div>
    <div style="width: 100%; margin-left: auto; margin-right: auto; background-color:#E1E3E4;" class="row">
      <div class="col-12 col-md-12">
        <div class="row">
          <div style="margin-top:30px; text-align: center;" class="col-3 col-md-3">
            <h1>Nintendo Switch Accessories</h1>
            <button style="margin-top:50px;" (click)="Routing('viewall')" type="button" class="btn btn-success">View more</button>
          </div>
          <div style="margin-left: auto; margin-right: auto;" class="col-9 col-md-9">
            <div id="carouselExample5" class="carousel slide">
              <div class="carousel-inner">
                <!-- Loop through carousel items -->
                <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of Nintendo; let i = index">
                  <div class="row g-0">
                    <!-- Loop through cards in each group -->
                    <div class="col-4" *ngFor="let product of cardGroup">
                      <div (click)="Routing(product)" class="card">
                        <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                          alt="Product Image">
  
                        <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                          <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                          <p class="price"><b>${{product.price}}</b></p>
                          
  
  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Carousel controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div style="width: 100%; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 100px;">
      <!-- Heading Section -->
      <div class="row">
        <div class="col-12">
          <h1>Gaming Monitors</h1>
        </div>
      </div>
  
      <!-- Carousel Section -->
      <div id="carouselExample6" class="carousel slide">
        <div class="carousel-inner">
          <!-- First carousel item with four cards -->
          <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of monitor; let i = index">
            <div class="row g-0">
              <div class="col-3" *ngFor="let product of cardGroup">
                <div (click)="Routing(product)" class="card">
  
                  <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                    alt="Product Image">
                  <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                    <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                    <p class="price"><b>${{product.price}}</b></p>
                    <div>
                      <button class="addtocartbtn">
                        Add to cart
                      </button>
                    </div>
  
                  </div>
  
                </div>
              </div>
            </div>
          </div>
  
          <!-- Carousel controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample6" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample6" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div style="height: 100px;">
  
      </div>
      <div style="width: 100%; margin-left: auto; margin-right: auto; background-color:#E1E3E4;" class="row">
        <div class="col-12 col-md-12">
          <div class="row">
            <div style="margin-top:30px; text-align: center;" class="col-3 col-md-3">
              <h1>Virtual Reality Accessories</h1>
              <button style="margin-top:50px;" (click)="Routing('viewall')" type="button" class="btn btn-success">View more</button>
            </div>
            <div style="margin-left: auto; margin-right: auto;" class="col-9 col-md-9">
              <div id="carouselExample7" class="carousel slide">
                <div class="carousel-inner">
                  <!-- Loop through carousel items -->
                  <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of vr; let i = index">
                    <div class="row g-0">
                      <!-- Loop through cards in each group -->
                      <div class="col-4" *ngFor="let product of cardGroup">
                        <div (click)="Routing(product)" class="card">
                          <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                            alt="Product Image">
    
                          <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                            <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                            <p class="price"><b>${{product.price}}</b></p>
                            
    
    
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <!-- Carousel controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample7" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample7" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div style="width: 100%; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 100px;">
        <!-- Heading Section -->
        <div class="row">
          <div class="col-12">
            <h1>Playstation 5 Controllers</h1>
          </div>
        </div>
    
        <!-- Carousel Section -->
        <div id="carouselExample8" class="carousel slide">
          <div class="carousel-inner">
            <!-- First carousel item with four cards -->
            <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of controller; let i = index">
              <div class="row g-0">
                <div class="col-3" *ngFor="let product of cardGroup">
                  <div (click)="Routing(product)" class="card">
    
                    <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                      alt="Product Image">
                    <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                      <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                      <p class="price"><b>${{product.price}}</b></p>
                      <div>
                        <button class="addtocartbtn">
                          Add to cart
                        </button>
                      </div>
    
                    </div>
    
                  </div>
                </div>
              </div>
            </div>
    
            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample8" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample8" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div style="height: 100px;">
    
        </div>
        <div style="width: 100%; margin-left: auto; margin-right: auto; background-color:#E1E3E4;" class="row">
          <div class="col-12 col-md-12">
            <div class="row">
              <div style="margin-top:30px; text-align: center;" class="col-3 col-md-3">
                <h1>Gaming Headsets</h1>
                <button style="margin-top:50px;" (click)="Routing('viewall')" type="button" class="btn btn-success">View more</button>
              </div>
              <div style="margin-left: auto; margin-right: auto;" class="col-9 col-md-9">
                <div id="carouselExample9" class="carousel slide">
                  <div class="carousel-inner">
                    <!-- Loop through carousel items -->
                    <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of headsets; let i = index">
                      <div class="row g-0">
                        <!-- Loop through cards in each group -->
                        <div class="col-4" *ngFor="let product of cardGroup">
                          <div (click)="Routing(product)" class="card">
                            <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                              alt="Product Image">
      
                            <div style="position: absolute;bottom: 0; width: 100%;" class="card-body">
                              <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                              <p class="price"><b>${{product.price}}</b></p>
                              
      
      
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <!-- Carousel controls -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample9" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample9" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div style="width: 100%; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 100px;">
          <!-- Heading Section -->
          <div class="row">
            <div class="col-12">
              <h1>Playstation 4 Accessories</h1>
            </div>
          </div>
      
          <!-- Carousel Section -->
          <div id="carouselExample10" class="carousel slide">
            <div class="carousel-inner">
              <!-- First carousel item with four cards -->
              <div class="carousel-item" [class.active]="i === 0" *ngFor="let cardGroup of playstation4; let i = index">
                <div class="row g-0">
                  <div class="col-3" *ngFor="let product of cardGroup">
                    <div (click)="Routing(product)"  class="card">
      
                      <img [src]="'../../assets/' + product.image1.replace('./', '')" class="card-img-top"
                        alt="Product Image">
                      <div style="position: absolute;bottom: 0; width: 100%;"  class="card-body">
                        <p class="card-text"><b>{{ product.title.split(' ').slice(0, 4).join(' ') }}</b></p>
                        <p class="price"><b>${{product.price}}</b></p>
                        <div>
                          <button class="addtocartbtn">
                            Add to cart
                          </button>
                        </div>
      
                      </div>
      
                    </div>
                  </div>
                </div>
              </div>
      
              <!-- Carousel controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample10" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample10" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          

  </div>

