* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.adj {
    margin-left: auto;
    margin-right: auto;
}

.body {
    background-color: #F3F5F6;
    
}

.height {
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin {
    margin-top: 50px;
}

.colcolor {
    background-color: #FFFF;

}

.button-container {
    display: flex;
    gap: 10px;
    /* Adjust spacing between buttons */
    align-items: center;
    /* Vertically center-align if needed */
}

button {
    width: 130px;
}

.tex-container {
    display: flex;
    gap: 10px;
    /* Adjust spacing between buttons */
    align-items: center;
    /* Vertically center-align if needed */
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }