<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="row body">
  <div style="text-align: center;" class="col-3 col-md-3 adj">
    <h1>ADS</h1>
  </div>

  <div *ngFor="let product of ads; let i = index" class="col-10 col-md-10 adj height colcolor">
    <div class="row">
      <div style="height: 50px; border-bottom: solid 1px silver; word-spacing: 260px; margin-bottom: 10px;"
        class="col-md-12">
        <h4><b>Product Title Price Actions</b></h4>
      </div>

      <div *ngIf="getFirstAvailableImage(product)" style="height: 200px; width: 200px;" class="col-3 col-md-3">
        <div *ngIf="product.isFeatured">

          <svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve">
            <path style="fill:#ED8A19;" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757
	c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042
	c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685
	c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528
	c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956
	C22.602,0.567,25.338,0.567,26.285,2.486z" />
          </svg>

        </div>
        <img [src]="'https://productify.up.railway.app/' + getFirstAvailableImage(product)" alt=""
          style="width: 100%; height: 100%; object-fit: contain;">
      </div>


      <div class="col-4 col-md-4 adj">
        <p style="padding-left: 120px; padding-top: 80px;"><b>{{ product.title }}</b></p>
      </div>
      <div class="col-2 col-md-2 adj">
        <h4 style="padding-left: 40px; padding-top: 80px; color: red;"><b>{{ product.price }}</b></h4>
      </div>

      <div style="padding-top: 30px;" class="col-3 col-md-3">
        <div style="padding-left: 120px; padding-top: 30px;" class="button-container">
          <button (click)="Routing(product)" type="button" class="btn btn-success">See Details</button>
        </div>
      </div>
    </div>
  </div>
</div>