<div class="row body">
    <div class="col-3 col-md-3 adj">
     <h1 style="font-size: 50px;">User's Ads</h1>
    </div>
     <!-- *ngFor="let product of cart;let i=index" -->
     <div  class="col-11 col-md-11 adj height colcolor">
         <div class="row">
             <div style="height: 50px; border-bottom: solid 1px silver; word-spacing: 370px;margin-bottom: 10px;" class="col-md-12">
                 <p><b>Product Title Actions</b></p>
             </div>
 
             <div style="height: 200px; width: 200px;" class="col-3 col-md-3 ">
                 <!-- <img [src]="'../../assets/' + product.image1.replace('./', '')" alt=""
                     style="width: 100%; height: 100%; object-fit: contain;"> -->
             </div>
 
             <div style="text-align: center;" class="col-6 col-md-6 adj ">
               
 
             </div>
             <div style="padding-top:30px ;" class="col-3 col-md-3">
                 <div class="button-container">
 
                      <button  type="button" class="btn btn-success">Edit Ad</button>
                     <!-- <button (click)="Remove(i,product)" type="button" class="btn btn-danger">Remove</button>  -->
                 </div>
             </div>
 
         </div>
         
     </div>
     
 </div>