body{

    background-color: #000;
  }
  
  
  .card{
  
    width: 600px;
    border:none;
    height: 600px;
    margin-top: 50px;
  
  }
  
  
  
  
  .btr{
  
    border-top-right-radius: 5px !important;
  }
  
  
  .btl{
  
    border-top-left-radius: 5px !important;
  }
  
  .btn-dark {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  
  .btn-dark:hover {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  
  .nav-pills{
  
    display:table !important;
    width:100%;
  }
  
  .nav-pills .nav-link {
      border-radius: 0px;
          border-bottom: 1px solid #0d6efd40;
  
  }
  
  .nav-item{
        display: table-cell;
         background: #0d6efd2e;
  }
  
  
  .form{
  
    padding: 10px;
        height: 300px;
  }
  
  .form input{
  
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px;
  }
  
  
  .form input:focus{
  
    box-shadow: none;
  }
  
  
  .form button{
  
    margin-top: 20px;
  }
  
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}